.searchable-dropdown label {
    display: block;
    font-weight: 500;
    padding: 2rem 0 0.5rem;
}

.searchable-dropdown-list input {
    border: 2px solid #d3d9f0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3.2rem;
    padding: 1rem;
}

.searchable-dropdown input:focus,
.searchable-dropdown button:focus {
    border: 2px solid #2659ff;
}

.searchable-dropdown.select-group {
    position: relative;
}

.searchable-dropdown .sb-button {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: .3rem;
    height: 3.2rem;
    width: 100%;
    background-color: white;
    border: 2px solid #d3d9f0;
    position: relative;
}

.sb-button .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
}

.searchable-dropdown .searchable-dropdown-list {
    position: absolute;
    width: 100%;
    top: 7rem;
    box-sizing: border-box;
    border: 2px solid #d3d9f0;
    border-radius: .3rem;
    overflow: hidden;
}

.searchable-dropdown-list .option {
    display: none;
}

.searchable-dropdown-list .select-item {
    display: block;
    padding: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
}

.searchable-dropdown-list .select-item:hover {
    background-color: #f2f2f2;
}

.searchable-dropdown-list.hidden {
    display: none;
}