.searchable-dropdown label {
    display: block;
    font-weight: 500;
    padding: 2rem 0 0.5rem;
}

.searchable-dropdown-list input {
    border: 2px solid #d3d9f0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3.2rem;
    padding: 1rem;
}

.searchable-dropdown button:focus {
    border: 2px solid #2659ff;
}

.searchable-dropdown.select-group {
    position: relative;
    isolation: isolate;
}

.searchable-dropdown .sb-button {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: .3rem;
    height: 3.2rem;
    width: 100%;
    background-color: white;
    border: 2px solid #d3d9f0;
    position: relative;
    cursor: pointer;
}

.searchable-dropdown input {
    display: flex;
    flex-grow: 1;
    outline: none;
    border: none;
    padding: 1rem;
    position: absolute;
    margin: 2px;
    width: 99%;
}

.sb-button .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
    z-index: 2;
}

.arrow.open {
    transform: rotate(225deg);
}

.searchable-dropdown .searchable-dropdown-list {
    position: absolute;
    width: 100%;
    margin-top: 0.3rem;
    box-sizing: border-box;
    border: 2px solid #d3d9f0;
    border-radius: .3rem;
    overflow: hidden;
    overflow-y: scroll;
}

.searchable-dropdown-list .option {
    display: none;
}

.searchable-dropdown-list .select-item {
    display: flex;
    padding: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchable-dropdown-item.selected .select-item {
    background-color: #f2f2f2;
}

.searchable-dropdown-item.selected .select-item:after {
    content: "\2713";
    font-weight: 700;
    color: black;
}

.searchable-dropdown .searchable-dropdown-no-results {
    display: block;
    padding: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
}

.searchable-dropdown-list .select-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.searchable-dropdown-list.hidden {
    display: none;
}